@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Josefin+Sans:wght@200&display=swap');
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}


header {
    text-align: center;
    background-color: #76bec4;
    color: #332828;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

/* phone or baseline views **************************/
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}



main section {
	margin: 0.5rem;
	border: 1px solid #617cb2;
	padding: 0 1rem;
	background-color: #c5ce97;
	border-radius: 25px;

}

main section h2 {
	color: #536878;
}



main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

.colimage {
	box-shadow: 0 0 30px #333;
}

footer {
	/* display: block;
	margin-bottom: auto;
	align-items: center; */
	font-size: 1em;
    background-color: #2f6166;
    color: blanchedalmond;
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	main section picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* This is unncessary !!! The flow is set and the template is set already */
	main section:nth-child(1) {
	  grid-column: 1/2;
  }
	main section:nth-child(2) {
	  grid-column: 2/3;
		grid-row: 1/2;
  }
	/*************************************/

	main section:nth-child(3) {
		grid-column: span 1;
	}
}
