@media screen and (min-width: 1000px) {


    nav {
        background-color: rgb(253, 214, 140);
        display: flex;
        justify-content: space-evenly;
        
    }

    

    nav a {
        margin: 20px;
        padding: 20px;
        background-color: rgb(204, 227, 194);
        align-self: center;
        color: rgb(46, 70, 110);
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        border-radius: 10px;
        
        
        
        
    }

    #right {
        display: flex;
    }

    .responsive #right {
        display: flex;
    }

    
    .hamButton {
        display: none;
    }

    #about-main{
        background-color: rgb(46, 70, 110);
        display: flex;
        justify-content: space-around;
    }

    

}