
header {
    background-color: #f9f1e1b7;
    color: #541a1a;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    font-size: 50px;
}
header img {
    height: auto;
    padding: 30px;
    max-width: 150px;
    border-radius: 50%;
}
main img {
    height: auto;
    padding: 30px;
    max-width: 80%;
    border-radius: 10%;
}

nav {
    font-family: 'Arial', sans-serif;
    width: 100%;
    overflow: hidden;
    background-color: #d9781d;
    display: block;
    margin: 0px;
}

nav ul li {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

footer {
    display: block;
    background-color: #356782;
    padding: 20px;
    color: #fff;
    text-align: center;
}
